.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;


    & label {
        font-size: .9rem;
        font-family: Tahoma;
    }

    & input, select {
        width: 160px;
        height: 30px;
        padding: 5px;
        background-color: #f6f6f6;
        border-radius: 5px;
        border: none;
        border: 1px solid #e6e6e6;
    }    
}


.buttonSave {
    width: 330px;
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #1F3B73;
    color: white;
    align-self: center;
    border: none;
}