*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    width: 90%;
    height: 97vh;
    display: flex;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    overflow-x: hidden;
}

.infoIzq{
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerGruposTitle{
    width: 30%;

    & .containerGrupos{
        width: 85%;
        height: 85%;
        border-radius: 5px;
        overflow-y: scroll;
        padding: 15px;
        margin-left: 20px;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        gap: 8px;

        & .title{
            text-align: center;
            color: #1F3B73;
            font-weight: 600;
        }

        & .tarjetaGrupos{
            height: 120px;
            border-radius: 5px;
            padding: 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 3px;
            background-color: white;
            border: 1px solid #787878;
            cursor: pointer;
    
            &:hover{
                background-color: #e6e6e6;
            }
    
            & :first-child{
                font-weight: bold;
                text-align: center;
            }
    
            & p:hover{
                cursor: pointer;
            }
    
        }
    }
}

.grupoLleno {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(199, 35, 35, 0.3);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & h2 {
        font-weight: bold;
    }
}

.datosAlumno{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 40px;

    & label{
        font-size: 1rem;
        font-family: Tahoma;
        margin-left: 280px;
        margin-top: -10px;
    }

    & select{
        width: 200px;
        height: 30px;
        padding: 5px;
        background-color: #f6f6f6;
        border-radius: 5px;
        border: none;
        border: 1px solid #e6e6e6;
        margin-top: -10px;
    }

    & button{
        width: 80px;
        height: 30px;
        padding: 5px;
        border-radius: 5px;
        margin-top: -10px;
        border: none;
        background-color: #1F3B73;
        color: #f2f2f2;
        margin-left: 15px;
        font-family: tahoma;

        &:hover{
            filter: brightness(110%);
        }
    }

    & h2{
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 48px;
        background-color: #f2f2f2;
        padding: 5px;
        border-radius: 5px 5px 0px 0px;
    }
}

.containerPreview{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #f2f2f2;
}

.previewHorario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & li {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
        animation: leftToRight 0.3s;
        transition: all 0.3s;

        &:hover {
            outline: 1px solid #1F3B73;
        }

        & img {
            width: 25px;
            height: 25px;
            transition: all 0.3s;
        }

        & button {
            border: none;
            background-color: transparent;
            padding: 10px;
            display: flex;
            gap: 5px;
            font-weight: bold;
            align-items: center;
            box-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
            margin-right: 20px;
            border-radius: 7px;
            transition: all 0.3s;

            &:hover {
                background-color: #1F3B73;
                color: #f2f2f2;
            }
        }
    }
}

@keyframes leftToRight {

    0% {
        transform: translateX(350px);
    }

    100% {
        transform: translateX(0px)
    }
    
}

.infos {
    display: flex;
    gap: 10px;
    height: 100%;


    & div:last-child {
        padding: 15px 15px 15px 0px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        & h4 {
            color: #1F3B73;
        }
    }
}

.info_deco {
    width: 30px;
    height: 100%;
    background-color: #1F3B73;
}

.diasClase{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 60px;
}

#row{
    width: auto;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & li{
        font-size: 0.8rem;
        width: 55px;
        transition: transform 0.3s ease-in-out;
    }

    &:hover{
        border-color: white;
        transform: none;
    }

}


.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.error {
    outline: 2px solid red;
}
